[
  {
    "remark": "lzl",
    "phone": "19180978089",
    "password": "Morrino98224",
    "province": "四川省",
    "city": "成都市",
    "area": "都江堰市",
    "address": "四川省 · 成都市 · 都江堰市 · 在四川工商职业技术学院附近",
    "longitude": "103.694099",
    "latitude": "30.912996",
    "randomLocation": true,
    "enable": true,
    "desc": "",
    "pushKey": ""
  }
]
